source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget Microsoft.NET.Test.Sdk
nuget System.Text.Json
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector